body {
    font-family: 'Roboto';
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    background: #2980b9;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-child(2n){
    background: #f7f7f7;
}

input {
    font-size: 16px;
    background-color: #f7f7f7;
    width: 100%;
    margin: 0;
    padding: 12px 12px 12px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

li span {
    background: #e74c3c;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

#container {
    
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}
